
@font-face {
	font-family: _courier;
	src: url(https://raw.githubusercontent.com/2641797006/www/master/font/_courier.ttf);
}

@font-face {
	font-family: _courier_new;
	src: url(https://raw.githubusercontent.com/2641797006/www/master/font/_courier_new.ttf);
}

@font-face {
	font-family: _monospace;
	src: url(https://raw.githubusercontent.com/2641797006/www/master/font/_monospace.ttf);
}

.cnew{
  font-family: "_courier_new";
}


